export KUBECONFIG="/Users/brad.kaneyama/development/bk/local-k8/.kube/config"
export KUBECONFIG_PATH="${KUBECONFIG}"
export KIND_NETWORK_NAME="kind"
export KIND_SUBNET="172.18.0.0/16"
export KIND_GATEWAY="172.18.0.1"
export METALLB_RANGE="172.18.255.200-172.18.255.250"
export POD_SUBNET="10.244.0.0/16"
export SERVICE_SUBNET="10.96.0.0/12"